.heading{
    width: 100%;
    text-align: center;
    h1 {
        color:$blue;
        font-size: 60px;
        font-weight: 300;
    }
    p {
        font-size: 17px;
    }
    border-bottom:1px solid $border-color
}