.pagination{
    margin-top:20px;
    text-align: center;
    .item {
        color:$text-color;
        display: inline-block;
        border-radius: 3px; 
        padding: 5px;
        width: 30px;
        height: 30px;
        background: $pagination-finish;
        background: linear-gradient(to bottom, $pagination-begin 0%,$pagination-finish 100%);
        border:1px solid $pagination-border;
        
        margin-right: 5px;
        &:hover {
            cursor:pointer;
        }
        &.active{
            color:$white;
            background: $pagination-active-finish;
            background: linear-gradient(to bottom, $pagination-active-begin 0%, $pagination-active-finish 100%);
            border-color: $pagination-active-border;
        }
    }
}
