.pagination{
    margin-top:20px;
    text-align: center;
    .item {
        color:$text-color;
        display: inline-block;
        border-radius: 3px; 
        padding: 5px;
        width: 30px;
        height: 30px;
        background: #fff;
        background: linear-gradient(to bottom, #fff 0%,#eaeaea 100%);
        border:1px solid #bfbfbf;
        margin-right: 5px;
        &:hover {
            cursor:pointer;
        }
        &.active{
            color:white;
            background: #585858;
            background: linear-gradient(to bottom, #585858 0%,#5c5c5c 100%);
            border-color: #585858;
        }
    }
}