.rate {
    border-radius: 50%;
    border:1px solid $rate-border;
    background: $rate-finish;
    background: linear-gradient(to bottom, $rate-begin 0%, $rate-finish 100%);
    padding: 4px;
    width: 30px;
    height: 30px;
    margin:0 1px;
    display: inline-block;
    text-align: center;
    font:15px 'Source Sans Pro', sans-serif;
    font-weight: 900;
    color:$table-head-text;
    &.active {
        color:white;
        background: $rate-active-finish;
        background: linear-gradient(to bottom, $rate-active-begin 0%, $rate-active-finish 100%);
    }
}

