.serach {
    height: auto;
    input,  button {
        display: block;
    }
    .text-input, .number-input, .reset , .search {
        width:100%;
        min-height: 40px;
        margin: 10px 0;
    }
    margin:10px 20px;


@include media_md() {
    width: 80%;
    min-width:750px;
    height: 38px;
    margin:15px auto;
    input, button {
        display: inline-block;
    }
    .text-input, .number-input, .reset , .search {
        min-height:  auto;
        margin-right: 15px;
        width: auto;
    }
    .text-input { 
        width: 370px;
    }
    .number-input {
        width: 150px;
    }

}

    input, button {
        border-radius: 3px;
    }
    button {
        border:none;
        padding: 10px 20px;
        font-size: 13px;
    }
    .text-input, .number-input {
        padding-left: 8px;
    }
    .text-input, .reset, .search {
        font:12px Helvetica, sans-serif; 
    }   
    .reset, .search {
        font-weight: bold;
    }
    .text-input {
        border:1px solid $input-search-border;
        padding: 5px;
    }
    .number-input{
        @include placeholder(black);
        border:1px solid $btn-number-border;
        font-family: Arial, sans-serif;
        font-size: 11px;
        line-height: 16px;
        box-shadow: 0 0 0 5px $btn-background;
        background: $number-input-finish;
        background: linear-gradient(to bottom, $number-input-begin 0%, $number-input-finish 100%);
    }
    .reset {
        background: $reset-finish;
        background: linear-gradient(to bottom, $reset-begin 0%, $reset-finish 100%);
        color:$text-color;
    }

    .search {
        background: $search-finish;
        background: linear-gradient(to bottom, $search-begin 0%, $search-finish 100%);
        color: $white;
    }


}