.table{
    border-radius: 3px;
    width: 100%;
    border:1px solid $table-border;
    border-spacing: 0;
    font:12px Helvetica, sans-serif;
    thead {
        background: $table-head-background;
        color: $table-head-text;
        th{
            border:none;
        }
    }
    tr{
        &:last-of-type td{
            border-bottom: none;
        }
        
        td, th {
            padding: 17px 5px;
            border-bottom:1px solid $table-border; 
            text-align: center;
            &:first-child {
                text-align: left;
                padding-left: 30px;
                @include media_md() {
                    width:60%;
                }
            }
        }
        th {
            padding:22px 5px;
        }

    }
    tbody {
        tr:nth-child(even) {
            background:$table-even;
        }
        tr:nth-child(odd) {
            background:$table-odd;
        }
        tr:hover{
            cursor:pointer;
            background:$table-hover;
        }
        
    }
}