* {
  box-sizing: border-box !important;
}

body,html {
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  color:$text-color;
  background: $background-body;
}

a {
  text-decoration: none;
}