$blue: #2288b7;
$text-color: #3b3b3b;
$border-color:#e0e0e0;
$btn-background: #ececec;
$btn-number-border: #a6a6a6;
$table-border: #cccfd1;
$table-head-background: #eaecec;
$table-head-text: #666666;
$input-search-border: #d6d6d6;