$text-color: #3b3b3b;
$border-color:#e0e0e0;
$btn-background: #ececec;
$btn-number-border: #a6a6a6;
$table-border: #cccfd1;
$table-head-background: #eaecec;
$table-head-text: #666666;
$input-search-border: #d6d6d6;


$blue: #2288b7;
$background-body:#e3e2e2;
$background-container:#fdfdfd;
$shadow-container:#d5d4d4;

$white:#fff;
$black:#000;

$pagination-begin: $white;
$pagination-finish: #eaeaea;
$pagination-border: #bfbfbf;

$pagination-active-begin: #585858;
$pagination-active-finish: #5c5c5c;
$pagination-active-border: #585858;

$rate-border:#8a8a8a;

$rate-begin: $white;
$rate-finish: #dadcdc;

$rate-active-begin: #8ed1f0;
$rate-active-finish: #4c95dc;

$number-input-begin: $white;
$number-input-finish:#f2f2f2;

$reset-begin: #f2f2f2;
$reset-finish:#c4c4c4 ;

$search-begin:#6ba1f3;
$search-finish:#2077f0;

$table-even:#f7f7f7;
$table-odd:#fdfdfd;
$table-hover:#e2e2e2;